@import url('https://fonts.googleapis.com/css?family=Pacifico|Satisfy&display=swap');

body{
  background: url(f5.png) no-repeat;
  background-size: cover;
  padding: 5px;

}

header{
  font-family: 'Satisfy', cursive;
  color:#d80073;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.144);
  text-align: center;
  font-size: 2rem;
 }

section{
display: flex;
justify-content: center;

}


fieldset{  
  display: flex;
  background: rgba(255, 223, 240, 0.993);
  border-radius: 20px;
  border-color: rgb(252, 195, 226);
 
  font: normal 16px Lobster;
  width: 40%;
 }

.offset{
  display: flex;
  color:#d80073;
  font-family: 'Pacifico', cursive;
  font-size: 18px;
  text-shadow: 2px 1px 3px white;
}

input[type=number]{
  display:block;
  text-align: center;
  width:250px;
  border-radius: 4px;
  box-shadow: 1px 1px 5px  rgba(236, 79, 165, 0.644);
  
}

.strings{
  display: block;
  color:#d80073;
  font-family: 'Pacifico', cursive;
  font-size: 16px;
  text-shadow: 2px 1px 3px white;
}

textarea{
  display:block;
  width: 95%;
  height: 100px;
  border-radius: 10px;
  padding: 05px;
  box-shadow: 2px 2px 10px  rgba(236, 79, 165, 0.644);
}

.btncode {
	background-color:#f0218c;
	border-radius:6px;
	border:1px solid #ee1eb5;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font: normal 15px Trebuchet MS;
	font-weight:bold;
	padding:6px 19px;
	text-decoration:none;
	text-shadow:0px 1px 0px #c70067;
}

.btndecoded {
	background-color:#f0218c;
	border-radius:6px;
	border:1px solid #ee1eb5;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font: normal 15px Trebuchet MS;
	font-weight:bold;
	padding:6px 13px;
	text-decoration:none;
	text-shadow:0px 1px 0px #c70067;
}

.btnclear {
	background-color:#f0218c;
	border-radius:6px;
	border:1px solid #ee1eb5;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font: normal 15px Trebuchet MS;
	font-weight:bold;
	padding:6px 13px;
	text-decoration:none;
	text-shadow:0px 1px 0px #c70067;
}


.btndecoded:active {
	position:relative;
	top:1px;
}


.btncode:active {
	position:relative;
	top:1px;
}

.btnclear {
  position: relative;
  top: 1px;

}

.result {  
  display: flex;
  flex-direction: column; 
  width: 45%;
  color: rgb(80, 80, 80);
  background: url(xadrezazul.jpg);
  background-position: center;
  border-radius: 20px;
  padding: 1%;
}

#titleresult{
  display: flex;
  align-self: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.836);
  color:#0f64e4; 
  border-radius:15px;
  width: 280px;
  padding: 2px;
  box-shadow: 2px 2px 10px  rgba(89, 79, 236, 0.644);
  /* text-shadow: 3px 2px 0px rgb(255, 255, 255); */
  font-family: 'Satisfy', cursive;
  font-size: 35px;
}

#heart {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 550px;
  height: 380px;
  background: url(heart.png) no-repeat;
  background-size: contain;
  background-position: center center;

}

#result {
    padding: 5px;
    display: flex;
    align-self: center;
    max-width: 280px;
    max-height: 150px;
    color: rgb(255, 255, 255);
    word-break: break-word;
    bottom: 10%;
  }

